article
    flex-direction: column
    flex-wrap: wrap
    min-width: 200px

ul
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 24px
    list-style: none
    padding: 0

    li
        align-content: center
        background: white
        text-align: center
        border-radius: 8px
        border: 3px solid
        border-color: #f0f0f5
        position: relative