article
    flex-direction: column
    padding: 0
    grid-template-columns: 1fr
    grid-gap: 24px
    background: white
    border-radius: 8px
    padding: 24px
    font-size: 16px
    display: grid
    position: relative

strong
    text-align: center
    font-size: 30px

.synopsis
    margin-left: 5%
    font-size: 20px
    text-align: left
.year
    text-align: center

.hierarchy2
    display: flex
    flex-direction: column
    grid-gap: 0px

    li
        border: none
        text-align: left
        padding: 0px
        margin-left: 5%
        margin-bottom: 1%

section
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 32px 48px

    a
        justify-self: end

hr
    width: 70px
    height: 5px
    border-radius: 16px
    background-color: black